<div class="header">
    <div>
        <h3>{{ emailSelected.subject ? emailSelected.subject : "No Subject" }}</h3>
        <div> 
            From: <i>{{ emailSelected.from }}</i>
        </div>
        <div>
            To: <i>{{ emailSelected.to }}</i>
        </div>
    </div>
    <div>
        <app-email-reply [email]="emailSelected"></app-email-reply>
    </div>
</div>
<div class="ui divider">
    <div [innerHTML] = "emailSelected.html ? emailSelected.html : emailSelected.text"> </div>
</div>
